.about-me {
    padding: 80px 0;
}

.img-avatar img {
    width: 400px;
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
    margin-top: 50px;
    padding: 5px;
}

.about-text {
    margin-top: 50px;
    text-align: justify;
}

.about-text h1 {
    margin-bottom: 20px;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 768px) {
    .img-avatar img {
        width: 300px;
    }

    .about-me h1 {
        text-align: center;
    }
  }