@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

}
body {
  font-family: 'Roboto Condensed', serif;
  
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/***************** NAVBAR *********************/
.logo {
  width: 16.25rem;
  font-weight: bold;
}

/*****************  MENU LINKS ****************/
nav a.nav-link {
  /* font-size: .8rem; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav > li > a {
  margin: 0 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/***************** HEADER *********************/

.header-wrapper {
  position: relative;
  background: url(./img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media(max-width:768px) {
  .header-wrapper {
    background-position: top;
  }
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: 600;
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/***************** TYPED TEXT *********************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/***************** HEADER MAIN OFFER BUTTON *********************/
.btn-main-offer {
  border: 2px solid var(--primary-orange);
  color: var(--primary-white);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  margin: 2rem;
  transition: all 0.3s ease;
}

.btn-main-offer:hover {
  background-color: var(--primary-orange);
  border: 2px solid var(--primary-white);
  color: var(--primary-white);
  text-decoration: none;
}

@media(max-width:768px) {
  .btn-main-offer {
    padding: 8px;
    font-size: 1rem;
  }
}